h1 {
    color:purple;
    font-family: 'Times New Roman', Times, serif;
}

img {
    border-width: 50px;
    border-color: yellow;
    border-style: dotted;
    bor
}

body {
    background-color: pink

}

.color {
    color: green;
    font-style: cursive;

}

.color2 {
    color:red;
}
